@import "../../custom.scss";


.badge-list:hover {
    color: $light;
    background-color: $primary !important;
}


.btn-flat {
    background: white;
    color: $dark;
}

.btn-check:checked + .btn-flat {
    color: white;
    background: $primary;
}