@import "../../custom.scss";

.navbar {
    display: none !important;
}

.hamburger {
    cursor: pointer;
}

.title {
    color: $primary;
}

@media only screen and (max-width: 1200px) {

   .navbar {
    display: flex !important;
   }
}


